.image
{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border-color: aqua;
}
.appleIcon
{
    font-size: 3rem;
    border: 1px solid rgb(0, 255, 94);
    background-color: rgb(178, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}